/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFAF0;
}


.flex {
    display: flex;
}

/* BOTÕES - PADRÃO GLOBAL */
button {
    color: #151b54;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    width: 200px;
    height: 60px;
}

button:hover {
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 9999;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header .logo img {
    max-width: 200px;
}

header .menu-desktop ul {
    display: flex;
    list-style: none;
}

header .menu-desktop ul li {
    margin: 0 40px;
}

header .menu-desktop ul li a {
    color: #151b54;
    font-weight: 600;
    text-decoration: none;
    transition: .2s;
}

.menu-desktop a:hover {
    transform: scale(1.05);
}

/* MENU DINÂMICO */
header.rolar {
    background-color: #4FA38F;
    padding: 20px 0;
    box-shadow: 0 0 8px #00000061;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    height: 100vh;
    background: url("images/index/imagem-capa.png") no-repeat center/cover;
    color: #151b54;
}

.topo-do-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

.topo-do-site .txt-topo-site h1 {
    font-size: 80px;
    line-height: 70px;
    font-weight: 200;
}

.topo-do-site .txt-topo-site h1 span {
    color: #151b54;
    display: block;
    font-weight: 700;
}

.topo-do-site .txt-topo-site p {
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0;
}

/* MENU EM CARDS */
#menu {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

#menu img {
    width: auto;
    height: 280px;
    border: 10px solid #4FA38F;
    border-radius: 20px;
}

.card-txt a {
    text-decoration: none;
}

.card-txt h3 {
    font-size: 24px;
    color: #151b54;
}

.card-txt h4 {
    font-size: 18px;
    color: #151b54;
    font-weight: 400;
    margin-top: 5px;
}

#menu .interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/* NOTÍCIAS */
.noticias .interface {
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 0 4%;
}

.noticias .flex {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.noticias article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.noticias .img-itens img {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.noticias .txt-itens h4 {
    color: #151b54;
    font-size: 26px;
    margin-bottom: 10px;
}

.noticias .txt-itens p {
    color: #151b54;
    font-size: 18px;
    margin-bottom: 20px;
}

.noticias button {
    color: #fff;
    background-color: #a0c4ff;
}

.noticias button:hover {
    box-shadow: 0px 0px 8px #a0c4ff;
}

/* AMEAÇAS DE EXTINÇÃO */
.ameacas {
  padding: 60px 5%;
  font-family: "Poppins", sans-serif;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  margin-bottom: 60px;
}

.titulo h1 {
  font-size: 70px;
  margin-bottom: 10px;
  color: #151b54;
}

.titulo h3 {
  font-size: 20px;
  color: #6e76b3;
  margin-bottom: 150px;
}

.bloco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 40px;
}

.bloco.invertido {
  flex-direction: row-reverse;
}

.txt-bloco {
  flex: 1;
}

.txt-bloco h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #151b54;
}

.txt-bloco p {
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  color: #151b54;
}

.imagem {
  flex: 1;
  text-align: center;
}

.imagem img {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
}

/* ESTILO DO RODAPÉ */
footer {
    padding: 40px 4%;
    background-color: #FFFAF0;
    box-shadow: 0 0 40px 10px hsl(0, 0%, 85%);
}

footer .interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

footer .line-footer {
    padding: 20px 0;
}

footer .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .line-footer.borda {
    border-top: 2px solid #151b54;
}

footer .line-footer p {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #151b54;
}

footer .line-footer p a {
    color: #151b54;
}

/* BOTÕES SOCIAIS */
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #151b54;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btn-social i.bi-instagram {
  color: #fff;
}

.btn-social i.bi-tiktok {
  color: #fff;
}



/* RESPONSAVIDADE */
/* AMEAÇAS DE EXTINÇÃO */
@media (max-width: 900px) {
  .bloco,
  .bloco.invertido {
    flex-direction: column;
    text-align: center;
  }

  .imagem img {
    max-width: 80%;
  }
}